.header {
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  margin: 10px;
}

.punkLogo {
  width: 200px;
}

.searchContainer {
  background-color: #1c1c1e;
  height: 50px;
  flex: 1;
  display: flex;
  align-items: center;
  border: 2px solid #2a2a2a;
  border-radius: 50px;
}

/* :focus-within to target the searchContainer 
when any element inside it (like the input field) is focused.  */

.searchContainer:hover,
.searchContainer:focus-within {
  border: 2px solid #bbc3d4;
}

.searchIcon {
  margin: 10px;
}

.searchInput {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 16px;
}

.headerItems ul {
  display: flex;
  color: #a1a5b0;
}

.headerItems ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 0 10px;
}

.headerItems ul li:hover {
  color: #ecf1fd;
}
